<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nexago_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
				<key>dateExpires</key>
				<string>01/06/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppCheckCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFunctions.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessagingInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>101.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_links.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>6.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth_darwin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2S4HRY66UA.br.com.nexago.nexagoApp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>2S4HRY66UA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>84eb1fd7-80ed-4c29-b8f0-373e33e9643d</string>
				<key>dateExpires</key>
				<string>01/06/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: br.com.nexago.nexagoApp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2S4HRY66UA</string>
				<key>name</key>
				<string>Silvio Filipe Dionizio Junior</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
