<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nexago_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>105</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
				<key>dateExpires</key>
				<string>01/06/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2.3.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.28.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>24.28.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>11.28.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreMaps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>11.28.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaEnterpriseSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>38</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06B8E9AFE66F4C2E060D33CE05904E4ED9A833C7</string>
						<key>dateExpires</key>
						<string>01/06/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2S4HRY66UA</string>
						<key>name</key>
						<string>Silvio Filipe Dionizio Junior</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2S4HRY66UA.br.com.nexago.nexagoApp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:atleta.nexago.com.br</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>2S4HRY66UA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>59bc0e38-09aa-4d20-9174-19ce13d23a44</string>
				<key>dateExpires</key>
				<string>01/06/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: br.com.nexago.nexagoApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2S4HRY66UA</string>
				<key>name</key>
				<string>Silvio Filipe Dionizio Junior</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.9</string>
		</dict>
	</array>
</dict>
</plist>
